body {
  margin: 0;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#triangle, #background {
  display: none;
}

#container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#sidebar {
  align-self: flex-start;
  text-align: center;

  p {
    font-size: x-small;
  }

  input {
    text-align: center;

    &:invalid {
      background: red;
    }
  }
}

#number {
  width: 10em;
}

#multiplier {
  width: 1em;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}